<ion-header>
  <ion-toolbar>
    <ion-title>TensorFlowjs Sample List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item detail="false" button routerLink="offline-chat-bot">
      <ion-label>Offline ChatBot</ion-label>
    </ion-item>
    <ion-item detail="false" button routerLink="dicom-viewer">
      <ion-label>DICOM viewer</ion-label>
    </ion-item>
    <ion-item detail="false" button routerLink="quick-sample">
      <ion-label>Quick sample</ion-label>
    </ion-item>
    <ion-item detail="false" button>
      <ion-label>Digit Recognizer with Layers (MNIST)</ion-label>
    </ion-item>
    <ion-item detail="false" button>
      <ion-label>Iris Flower Classification</ion-label>
    </ion-item>
    <ion-item detail="false" button>
      <ion-label>Webcam Controller</ion-label>
    </ion-item>
    <ion-item detail="false" button>
      <ion-label>Emoji Scavenger Hunt</ion-label>
    </ion-item>
    <ion-item detail="false" button>
      <ion-label>Teachable Machine</ion-label>
    </ion-item>
    <ion-item detail="false" button>
      <ion-label>Move Mirror</ion-label>
    </ion-item>
    <ion-item detail="false" button>
      <ion-label>Performance RNN</ion-label>
    </ion-item>
    <ion-item detail="false" button>
      <ion-label>Voice Recognition</ion-label>
    </ion-item>
    <ion-item detail="false" button>
      <ion-label>Boston Housing</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
