
<ion-header>
  <ion-toolbar>
    <ion-title>Three.js Sample List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item detail="false" button routerLink="basic3">
      <ion-label>Basic</ion-label>
    </ion-item>
    <ion-item detail="false" button routerLink="lights-hemisphere">
      <ion-label>Lights / Hemisphere</ion-label>
    </ion-item>
    <ion-item detail="false" button routerLink="cloth-simulation">
      <ion-label>Cloth Simulation</ion-label>
    </ion-item>
    <ion-item detail="false" button routerLink="littlest-tokyo">
      <ion-label>Littlest Tokyo</ion-label>
    </ion-item>
    <ion-item detail="false" button routerLink="skeletal-animation-blending">
      <ion-label>Skeletal Animation Blending</ion-label>
    </ion-item>
    <ion-item detail="false" button routerLink="additive-animation-skinning">
      <ion-label>Additive Animation Skinning</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
